body{
display: flex;
justify-content: center;
}
#secao1{
width: 1150pt;
height: 100%;
display: flex;
flex-flow: row wrap;
justify-content: center;
}
#secao2{
width: 1150pt;
height: 100%;
display: flex;
flex-flow: row wrap;
justify-content: center;
}
.card1, .card2, .card3, .card4,.card5, .card6, .card7{
    margin: 15px;
    width: 330px;
    height: 330px;
    border-style: solid;
    border-width: 3px;
    border-color: darkslategrey;
    box-shadow: grey 5px 5px5px;
    background-color: lightblue;
    border-radius: 30px;

    display: flex;
    flex-direction: column;

    text-align: center;
    font-size: 20px;
}












    


